html {
    /* background: linear-gradient(180deg, #A0FBBF, #ffffff); #95FDF2 */
    background: linear-gradient(180deg, #ffffff, #12fff7); 
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 525;
}
u {
    text-decoration-color: #b3ffab !important;
}
/* mark {
    background-color: #b3ffab;
} */
h2 {
    font-size: 22px;
}
#instructions{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}
#pg-description {
    margin-left: 10px;
}
body {
    font-family: sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0%;
	}
}

/* GENRES */
.genre-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 200px; 
    margin-right: 200px;
    margin-bottom: 20px;
}
.genre-list button {
    margin: 2px;
    border-radius: 9999px;
    border-width: 0px;
    padding: 4px 8px;
    font-family: inherit;
    cursor: pointer;
}
.unselected-genre {
    background-color : #ffffff;
}
.selected-genre {
    background-color : #b3ffab;
}
.submit-genres {
    display: flex; 
    justify-content: center;
}
#get-playlist-bttn {
    background-color: #b3ffab;;
    font-family: inherit; 
    border-width: 0px;
    margin: 2px;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}
/* PLAYLIST */
ul.recommended-playlist {
    list-style-type: none;
}

 /* TRACK  */
 .track {
    width: 1200px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 7px;
    margin: 0 auto;
 }
.track-flex-container {
    margin: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
}
.track-img {
    width: 100px;
    height: 100px; 
    margin: 20px 20px 20px 0px;
}
.cover-img {
    height: 100px; 
    vertical-align: middle;
}
.track-text {
    flex-grow: 5;
}
.track-title {
    display: inline-block; 
    margin: 0px 0px 5px 0px;
}
.track-tools {
    margin: 20px;
}
.track-icon {
    color: #000000;
    font-size: 1.2em;
}
.preview-track {
    cursor: pointer;
}
.tooltip {
    position: relative; 
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #b3ffab;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 13px;
} 
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #b3ffab transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}