html {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(180deg, var(--bkgd-gradient-color1), var(--bkgd-gradient-color2)); 
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 50% 0%;
	}
}
main {
    font-family: sans-serif;
    font-size: 1em;
    color: var(--body-text-color);
}
a {
    color: var(--body-text-color);
    text-decoration: none;
}
p {
    text-align: center;
}
mark {
    background-color: var(--accent-color);
}
.flex-parent-center {
    display: flex;
    justify-content: center;
}
.login-intro {
    max-width: 60%;
}
#login-button {
    margin-top: 20px;
}
h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 525;
}
u {
    text-decoration-color: var(--accent-color) !important;
}
#instructions{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}
#pg-description {
    margin-left: 10px;
}
/* MENU */
.top-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.menu-item {
    margin-right: 30px;
}
#signout {
    margin-right: 50px;
}

/* THEMES  */
#theme-dropdown {
    position: relative;
    /* margin-top: 5px; */
}

/* Hide the dropdown's content by default */
#theme-dropdown-content {
    display: none;

    /* Position it right below the trigger element */
    right: 0;
    padding-top: 4px;
    position: absolute;
    top: 100%;

    /* It should be on the top of other elements */
    z-index: 9999;

    /* Size */
    height: 200px;
    width: 200px;

    /* Border */
    border-radius: 5px;
}

/* Show the content when hover on the container */
#theme-dropdown:hover #theme-dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
}
#theme-instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    color: var(--secondary-text-color);
}
.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: var(--main-item-color);
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    color: var(--secondary-text-color);
}
.theme:hover {
    background-color: var(--theme-hover-color);
    color: var(--theme-hover-text-color);
}
.theme-divider {
    border-bottom: var(--accent-color);
    height: 2px;
}

/* GENRES */
.genre-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 200px; 
    margin-right: 200px;
    margin-bottom: 20px;
}
.genre-list button {
    margin: 2px;
    border-radius: 9999px;
    border-width: 0px;
    padding: 4px 8px;
    font-family: inherit;
    cursor: pointer;
    color: var(--secondary-text-color);
}
.unselected-genre {
    background-color : var(--main-item-color);
}
.selected-genre {
    background-color : var(--accent-color);
}
.submit-genres {
    display: flex; 
    justify-content: center;
}
.main-button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    font-family: inherit; 
    font-size: 1em;
    border-width: 0px;
    margin: 2px;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}
/* PLAYLIST */
ul.recommended-playlist {
    list-style-type: none;
}

 /* TRACK  */
 .track {
    width: 1200px;
    margin-bottom: 20px;
    background-color: var(--main-item-color);
    border-radius: 7px;
    margin: 0 auto;
    color: var(--secondary-text-color);
 }
.track-flex-container {
    margin: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
}
.track-img {
    width: 100px;
    height: 100px; 
    margin: 20px 20px 20px 0px;
}
.cover-img {
    height: 100px; 
    vertical-align: middle;
}
.track-text {
    flex-grow: 5;
}
.track-title {
    display: inline-block; 
    margin: 0px 0px 5px 0px;
}
.track-tools {
    margin: 20px;
}
.track-icon {
    color: var(--secondary-text-color);
    font-size: 1.2em;
}
.preview-track {
    cursor: pointer;
}
.tooltip {
    position: relative; 
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: var(--accent-color);
    color: var(--body-text-color);
    font-size: 1em;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    /* font-size: 13px; */
} 
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--accent-color) transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}