:root.blue_lagoon {
    --bkgd-gradient-color1: #ffffff;
    --bkgd-gradient-color2: #12fff7;
    --accent-color: #b3ffab;

    --main-item-color: #ffffff;

    --body-text-color: #000000; 
    --secondary-text-color: #000000;

    --theme-title-color: #000000;
    --theme-dropdown-color: #ffffff;
    --theme-hover-color: #12fff7;
    --theme-hover-text-color: #000000;
}