:root.espresso{
    --bkgd-gradient-color1: #584036;
    --bkgd-gradient-color2: #392428;
    --accent-color: #8D614D;

    --main-item-color: #F2E3D8;

    --body-text-color: #F2E3D8; 
    --secondary-text-color: #584036;

    --theme-title-color: #8D614D;
    --theme-dropdown-color: #584036;
    --theme-hover-color: #584036;
    --theme-hover-text-color: #F2E3D8;
}