:root, :root.latte {
    --bkgd-gradient-color1: #fdfcfb;
    --bkgd-gradient-color2: #e2d1c3;
    --accent-color: #E9E1FC;

    --main-item-color: #fdfcfb;

    --body-text-color: #635C56;
    --secondary-text-color: #635C56;

    --theme-title-color: #635C56;
    --theme-dropdown-color: #fdfcfb;
    --theme-hover-color: #E9E1FC;
    --theme-hover-text-color: #635C56;
}