:root.matcha{
    --bkgd-gradient-color1: #c1dfc4;
    --bkgd-gradient-color2: #deecdd;
    --accent-color: #FFD4ED;

    --main-item-color: #deecdd;

    --body-text-color: #525E53; 
    --secondary-text-color: #525E53;

    --theme-title-color: #525E53;
    --theme-dropdown-color: #deecdd;
    --theme-hover-color: #525E53;
    --theme-hover-text-color: #deecdd;
}