:root.mint_choco_chip {
    --bkgd-gradient-color1: #CBE7CE;
    --bkgd-gradient-color2: #E6FFF2;
    --accent-color: #8AFFE8;

    --main-item-color: #E6FFF2;

    --body-text-color: #3B342E; 
    --secondary-text-color: #3B342E;

    --theme-title-color: #3B342E;
    --theme-dropdown-color: #E6FFF2;
    --theme-hover-color: #3B342E;
    --theme-hover-text-color: #E6FFF2;
}