:root.pink_lemonade {
    --bkgd-gradient-color1: #fad0c4;
    --bkgd-gradient-color2: #ffd1ff;
    --accent-color: #FFFEB8;

    --main-item-color: #ffffff;

    --body-text-color: #000000; 
    --secondary-text-color: #000000;

    --theme-title-color: #000000;
    --theme-dropdown-color: #ffffff;
    --theme-hover-color: #ffd1ff;
    --theme-hover-text-color: #000000;
}