:root.taro{
    --bkgd-gradient-color1: #6c687f;
    --bkgd-gradient-color2: #6c687f;
    --accent-color: #E4DBFF;

    --main-item-color: #ffffff;

    --body-text-color: #ffffff; 
    --secondary-text-color: #6c687f;

    --theme-title-color: #ffffff;
    --theme-dropdown-color: #6c687f;
    --theme-hover-color: #6c687f;
    --theme-hover-text-color: #ffffff;
}