<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/blue_lagoon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/espresso.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/latte.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/matcha.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/mint_choco_chip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/pink_lemonade.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/taro.css') }}">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>sound cafe</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script id='jsFile' src="{{url_for('static', filename='interactions.js')}}"></script>
    <script src="https://kit.fontawesome.com/3482ed8156.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Inter&family=Work+Sans&family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- <script>
        $SCRIPT_ROOT = "{{ request.script_root|tojson }}"";    
    </script> -->
</head>
<body>
    <div class="top-menu">
        <div id="theme-dropdown">
            <div id="trigger-theme-dropdown">
                <i class="theme-icon fa-solid fa-palette"></i>
                <span id="theme-dropdown-title">latte</span>
            </div>
            <div id="theme-dropdown-content">
                <div id="theme-instructions">Select a custom theme!</div>
            {% for themeId, themeInfo in themes.items() %}
                <div class="theme" id="{{ themeId }}" onclick="changeTheme('{{ themeId }}', '{{themeInfo.name}}')">
                    {{ themeInfo.name }}
                </div>
                <div class="theme-divider"></div>
            {% endfor %}
            </div>
        </div>
    </div>
    <h1 class="animate__animated animate__swing"> <i>sound</i> <span><u>cafe</u></span> </h1>
    <div id="instructions">
        <p id="pg-description">Select up to five genres and discover your new favorite songs!</p>
    </div>
    <div class="genre-list">
        {% for genre in genres %}
            <button type="button" class="genre unselected-genre" id="genre-{{loop.index}}" value="{{genre}}">
                {{ genre }}
                <i class="genre-icon fa-solid fa-plus"></i>
            </button>
        {% endfor %} 
    </div>
    <br>
    <div class="submit-genres">
        <input type="submit" class="main-button" id="get-playlist-bttn" name="loadPlaylistBttn" value="Generate Playlist">
    </div>
    <div class="recommended-playlist" id="playlist"> </div> 
</body>