<!DOCTYPE html>
<head class="container-head">
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/blue_lagoon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/espresso.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/latte.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/matcha.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/mint_choco_chip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/pink_lemonade.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/taro.css') }}">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>sound cafe</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script id='jsFile' src="{{url_for('static', filename='interactions.js')}}"></script>
    <script src="https://kit.fontawesome.com/3482ed8156.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Inter&family=Work+Sans&family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    {% endblock %}
</head>
<main class="container-main">
    <div class="top-menu">
        {% block mainmenu %}
        <!-- <div class="menu-item" id="signout">
            <span id="signout-label">about</span>
            <a class="menu-item-icon" href="/about" target="_blank">
                <i class="fa-solid fa-circle-info"></i>
            </a>
        </div> -->
        <div class="menu-item" id="project-github">
            <span id="github-label">github</span>
            <a class="menu-item-icon" href="https://github.com/veronicasih/sound-cafe" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="menu-item" id="theme-dropdown">
            <div id="trigger-theme-dropdown">
                <span id="theme-dropdown-title">latte</span>
                <i class="theme-icon fa-solid fa-palette"></i>
            </div>
            <div id="theme-dropdown-content">
                <div id="theme-instructions">Select a custom theme!</div>
            {% for themeId, themeInfo in themes.items() %}
                <div class="theme" id="{{ themeId }}" onclick="changeTheme('{{ themeId }}', '{{themeInfo.name}}')">
                    {{ themeInfo.name }}
                </div>
                <div class="theme-divider"></div>
            {% endfor %}
            </div>
        </div>
        {% endblock %}
    </div>
    {% block title %}
    <h1 class="animate__animated animate__swing"> <i>sound</i> <span><u>cafe</u></span> </h1>
    {% endblock %}
    {% block content %}
    <div class="flex-parent-center" id="instructions">
        <p class="intro">Explore music genres and discover your new favorite songs on the Sound Cafe! Select up to five genres, and let the Sound Cafe find you the perfect playlist. Don't forget to choose a theme that matches your favorite drink!</p>
    </div>
    <div class="flex-parent-center" id="abt-me">
        <p class="intro">A project brought to you by Veronica Sih. Send me an <mark><a href="mailto:veronicasih18@gmail.com">email</a></mark> or find me on <mark><a href="https://www.linkedin.com/in/veronicasih/">LinkedIn</a></mark>.</p>
    </div>
    <div class="genre-list">
        {% for genre in genres %}
            <button type="button" class="genre unselected-genre" id="genre-{{loop.index}}" value="{{genre}}">
                {{ genre }}
                <i class="genre-icon fa-solid fa-plus"></i>
            </button>
        {% endfor %} 
    </div>
    <br>
    <div class="submit-genres">
        <input type="submit" class="main-button" id="get-playlist-bttn" name="loadPlaylistBttn" value="Generate Playlist">
    </div>
    <div class="recommended-playlist" id="playlist"> </div> 
    {% endblock %}
</main>