{% extends "index.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block mainmenu %}
{% endblock %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="flex-parent-center">
    <p class="login-intro">Explore music genres on the Sound Cafe! Choose one to five genres, and let the Sound Cafe find you the perfect playlist. Don't forget to choose a theme that matches your favorite drink!</p>
</div>
<div class="flex-parent-center">
    <p class="login-intro">A project brought to you by Veronica Sih. Send me an <mark><a href="mailto:veronicasih18@gmail.com">email</a></mark> or find me on <mark><a href="https://www.linkedin.com/in/veronicasih/">LinkedIn</a></mark>.</p>
</div>
<div class="flex-parent-center">
    <button id="login-button" class="main-button" type="button" onclick="location.href='{{auth_url}}';">Sign In</button>
</div>
{% endblock %}
